@model IEnumerable<ProyectoRestaurant.Models.Mesa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaximoPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaximoPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroDeMesa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroDeMesa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroDeMesa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
